*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    background-color: rgb(252, 252, 241);
}

html {
    height: 100%;
}

@font-face {
    font-family: Dancing;
    src: url('/fonts/DancingScript-VariableFont_wght.ttf');
}

.nav {
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.nav li {
    display: inline;
}

.nav li a {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
    transition: 0.8s;
    cursor:pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav li a:hover {
    background-color: rgb(61, 59, 59);
    padding: 20px;
    text-align: center;
    color: white;
}

main {
    background-color: rgb(252, 252, 241);
}

main text {
    font-size: 150px;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0px;
}

.welcome h1 {
    font-family: Dancing;
    font-size: 80px;
}

.services {
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

table {
    background-color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    padding: 20px;
    width: 700px;
    height: 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

thead {
    font-family: Dancing;
    text-align: center;
    font-size: 50px;
}

tfoot a{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    text-decoration: none;
}

tfoot a:hover {
    text-decoration: underline;
}

.depoimentos-cont text {
    font-size: 18px;
}

.card .user {
    width: 100px;
}

.star {
    width: 20px;
}

.depoimentos h2 {
    display: flex;
    justify-content: center;
    font-family: Dancing;
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    max-width: 980px;
    margin: auto;

    grid-gap: 30px;
}

.card {
    background-color: white;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    box-shadow: 6px 6px 10px #0000002c;
    border-radius: 2%;
}

.card .user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px #0000002c;
}

.cards p {
    margin-top: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

.visita {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    margin: auto;
    flex-direction: column;
    padding: 20px 20px 40px 20px;
}

.visita h2 {
    margin-bottom: 50px;
    margin-top: 30px;
}

.visita text {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.visita a{
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.visita a:hover{
    text-decoration: underline;
}

footer {
    padding: 40px;
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}