*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

@font-face {
    font-family: Dancing;
    src: url('fonts/DancingScript-VariableFont_wght.ttf');
}

nav {
    list-style-type: none;
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav li {
    display: inline;
}

nav li a {
    text-decoration: none;
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
    transition: 0.8s;
    cursor:pointer;
}

nav li a:hover {
    background-color: rgb(61, 59, 59);
    padding: 20px;
    text-align: center;
    color: white;
}

main {
    background-color: rgb(252, 252, 241);
}

main text {
    font-size: 150px;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0px;
}

.welcome h1 {
    font-family: Dancing;
    font-size: 80px;
}

.services {
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

table {
    background-color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    padding: 20px;
    width: 700px;
    height: 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

thead {
    font-family: Dancing;
    text-align: center;
    font-size: 50px;
}

tfoot a {
    display: flex;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

tfoot a:hover {
    text-decoration: underline;
}
