header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat;
}

header a {
    text-decoration: none;
}

nav {
    display: flex;
    margin-left: 64px;
    gap: 20px;
}

nav a {
    color: white;
    padding: 24px;
}

nav a:hover {
    background-color: rgb(54, 54, 54);
    transition: .2s;
}

.btns {
    display: flex;
    margin-right: 64px;
    gap: 40px;
}

#btn-login {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

#btn-register {
    padding: 15px;
    color: white;

}

#btn-login:hover {
    transform: scale(1.05);
    transition: .2s;
}

#btn-register:hover {
    text-decoration: underline;
}